fastapi
python-multipart
huggingface_hub
langchain-core
langchain-openai
tiktoken>=0.12.0
langgraph
chromadb
sentence-transformers
sqlmodel
pytest
redis
grpcio
grpcio-tools
pyinstaller
duckduckgo_search
ddgs
mammoth
PyMuPDF
Pillow
paddlepaddle
paddleocr
requests
bandit
scikit-learn
